.column {
  background: var(--background-color);
  transition: 0.5s ease background;
  padding: 15px;
  border-radius: 6px;
  min-width: 290px;
  box-shadow:
    0 4px 8px rgba(0, 0, 0, 0.08),
    0 8px 24px rgba(0, 0, 0, 0.08);
  border-color: rgba(0, 0, 0, 0.15);
  overflow: hidden;
}

.columnBtns {
  display: flex;
  gap: 8px;
}

.taskContainer {
  transition: background-color 0.2s ease;
  border-radius: 4px;
}

.draggingOver {
  background-color: rgba(0, 0, 0, 0.1);
}
