.task {
  background-color: var(--light-background-color);
  border-radius: 4px;
  padding: 15px;
  margin-bottom: 8px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  transition: all 0.2s ease;
  /* Обязательные стили для корректного перетаскивания */
  user-select: none;
  touch-action: none; /* Для мобильных устройств */

  /*transition:*/
  /*  transform 0.2s ease,*/
  /*  box-shadow 0.2s ease;*/

  /*transition: all 0.3s cubic-bezier(0.2, 0, 0, 1);*/
}

.task:hover {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
}

.task.dragging {
  transform: rotate(3deg);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.taskBody {
  display: flex;
  flex-direction: column;
}

.taskBody div {
  border-radius: 4px;
}

.taskBody button {
  border: 1px solid var(--background-color);
}

.taskBody button:hover {
  border: 1px solid var(--text-color);
}

.taskHeader {
  display: flex;
  justify-content: space-between;
  align-items: self-start;
  margin: 0 0 15px 0;
  gap: 4px;
}

.taskHeader h3 {
  /*word-break: break-word;*/
  font-size: 16px;
  width: fit-content;
  border: 1px solid var(--background-color);
}

.taskHeader h3:hover {
  border: 1px solid var(--text-color);
}

.taskHeader input {
  margin: 0 0 0 0;
  border: 1px solid var(--background-color);
}

.taskHeader button svg {
  margin: 0;
}

.taskDeadlineAndCompletedStatus {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
}

.taskDeadlineAndCompletedStatus div {
  width: fit-content;
}

.deadlinePicker {
  display: flex;
  flex-direction: column;
}

.noTimeMessage {
  padding: 8px;
}
