.taskUser {
  position: relative;
  display: flex;
  width: fit-content;
  margin: 0 0 15px 0;
  padding: 8px;
  border: 1px solid var(--background-color);
}

.taskUser:hover {
  transition: 0.4s;
  background-color: var(--default-btn-hover);
  border: 1px solid var(--text-color);
}

.userPicker {
  height: 50px;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 10px;
  position: absolute;
  top: 35px;
  left: -2px;
  background-color: var(--background-color);
  border: 1px solid var(--text-color);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 240px;
  margin-top: 5px;
  border-radius: 4px;
  z-index: 100;
  animation: fadeInDrop 0.3s ease-out forwards;
}

@keyframes fadeInDrop {
  from {
    opacity: 0;
    transform: translateY(1px) scale(0.95);
  }
  to {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}