.sidebar {
  background-color: var(--dark-background-color);
  padding: 10px;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  height: 100vh;
  overflow: hidden;
  z-index: 100;
  display: flex;
  flex-direction: column;
}

.sidebar ul {
  list-style: none;
  padding-left: 0;
  font-size: 15px;
}

.sidebar ul li {
  margin: 0 0 4px;
  transition: background-color 0.2s ease;
}

.sidebar ul li a {
  text-decoration: none;
  color: var(--text-color);
  padding: 2px 8px 2px 8px;
  transition: all 0.2s ease;
  border-radius: 5px;
  display: flex; /* Выстраиваем элементы в строку */
  align-items: center; /* Выравниваем иконку и текст */
  gap: 8px; /* Отступ между иконкой и текстом */
  width: 100%; /* Растягиваем ссылку на всю ширину */
  box-sizing: border-box; /* Учитываем padding в размере */
}

.sidebar ul li a:hover {
  background-color: var(--default-btn-hover);
}

.resizer {
  width: 1px;
  background-color: var(--default-btn-hover);
  cursor: ew-resize;
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
}

.resizer:hover {
  background-color: var(--text-color);
}

.icon {
  min-width: 15px;
  font-size: 15px; /* Размер иконки */
  vertical-align: middle;
}

.hrNameProject {
  margin: 0 0 20px 0;
  border: 0;
  height: 2px;
  background: linear-gradient(90deg, #6a11cb 0%, #2575fc 100%);
}

.nameProject {
  text-align: center;
  user-select: none;
}

