.contentContainer {
  margin-top: 112px;
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
}

hr {
  margin: 0 0 20px 0;
  border: none; /* Убираем стандартную границу */
  border-top: 2px solid var(--text-color); /* Новая граница (цвет: красный) */
}
