.defaultInput {
  width: 100%;
  padding: 0.5rem;
  margin: 0 0 24px 0;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 4px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(5px);
  color: var(--text-color);
  transition: all 0.3s;
  box-sizing: border-box;
}

.defaultInput.pastel {
  color: var(--text-color-dark);
}

.defaultInput:focus {
  border-color: rgba(255, 255, 255, 0.4);
  outline: none;
  box-shadow: 0 0 0 3px rgba(255, 255, 255, 0.1);
}

.defaultInput.pastel:focus {
  border-color: rgba(0, 0, 0, 0.4);
  box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.1);
}

input.boardInput {
  width: 321px;
  height: 39px;
  margin: 0 0 21px 0;
}

input.teamInput {
  width: 186px;
  height: 39px;
}
