.gradientHr {
  margin-bottom: 10px;
  border: 0;
  height: 2px;
  background: linear-gradient(90deg, #6a11cb 0%, #2575fc 100%);
}

.taskInput {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}

.myInput {
  padding: 10px;
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.2);
  color: var(--text-color);
  transition: all 0.3s;
  margin: 5px 10px 0 0;
}

.myInput:focus {
  border-color: rgba(255, 255, 255, 0.4);
  outline: none;
  box-shadow: 0 0 0 3px rgba(255, 255, 255, 0.1);
}

.taskInput button {
  padding: 10px 15px;
  cursor: pointer;
  height: 50px;
  margin-top: 18px;
  transition: 0.5s;
  background-color: #007fe9;
}

.taskInput button:hover {
  background-color: #0056b3;
}

.taskList {
  list-style-type: none;
  padding: 0;
  background-color: var(--background-color);
}

.taskItem {
  border: 1px solid var(--default-btn-hover);
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
  background-color: var(--light-background-color);
}

.taskSeparator {
  margin: 10px 0;
  border: 0;
  border-top: 1px solid var(--text-color);
}

.taskDates {
  font-size: 14px;
  color: var(--text-color);
}

.completed {
  opacity: 0;
  transition: opacity 0.5s ease;
}

.taskSections {
  display: flex;
  flex-direction: column;
}

.taskSectionsWrapper {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
}

.taskSection {
  flex: 1;
}

.descriptionBlock {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  align-items: center;
  margin-top: 10px;
}

.descriptionBlock button {
  padding: 5px;
}

.descriptionBlock label span {
  margin-right: 10px;
}

.descriptionArea {
  min-height: 50px;
  background: rgba(255, 255, 255, 0.1);
  color: var(--text-color);
  padding: 10px;
  width: 100%;
  border-radius: 5px;
  border: 1px solid rgba(255, 255, 255, 0.2);;
  transition: border 0.4s ease;
}

.descriptionArea:focus {
  outline: none;
  border: 1px solid var(--text-color);
}

.descriptionArea.unsaved {
  border: 1px solid #0056b3;
  box-shadow: 0 0 5px rgba(33, 50, 152, 0.4);
}

.deleteButton {
  max-width: 129px;
}

.noTasks {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 670px;
}

.noTasks p {
  text-align: center;
  font-size: 20px;
}

.taskTitleWithButton {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.taskTitleWithButton span {
  font-size: 18px;
  font-weight: bold;
}

.completeButton {
  margin-left: 1rem;
  padding: 4px 10px;
  background-color: transparent;
  color: var(--text-color);
  border-radius: 6px;
  cursor: pointer;
  font-size: 0.9rem;
  transition: background-color 0.2s ease;
  border: var(--default-btn-hover) 1px solid;
}

.completeButton:hover {
  background-color: var(--default-btn-hover);
}

.completeTaskBody {
  margin: 10px 0 0 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.completeTaskBody .deleteButtonBody {
  margin-left: auto; /* Это выталкивает кнопку к правому краю */
}

.completeTaskBody button {
  padding: 5px 10px 5px 10px;
}

.completeTaskBody h3 {
  font-size: 16px;
}
