.prettyHr {
    margin-bottom: 10px;
    border: 0;
    height: 1px;
    background-color: #505050;
}

.profileInfo {
    display: flex;
    align-items: center;
}

.avatar {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-right: 20px;
}

.details p {
    margin-bottom: 10px;
}

.avatarUpload {
    display: none;
}

.avatarUpload + label {
    cursor: pointer;
    display: inline-block;
    background-color: #007fe9;
    color: white;
    padding: 10px 15px;
    border-radius: 5px;
    text-align: center;
    transition: background-color 0.5s ease;
    font-size: 16px;
    margin-bottom: 0;
}

.avatarUpload + label:hover {
    background-color: #0056b3;
}

.buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    gap: 10px;
}

.inputField {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    background-color: #333;
    color: #fff;
    margin-bottom: 15px;
}

.inputField:focus {
    outline: none;
    border: 1px solid grey;
}

.errorMessage {
    color: rgb(251, 73, 73);
    padding: 5px;
    margin-top: 10px;
    opacity: 1;
    transition: opacity 0.5s linear, visibility 0.5s;
    animation: fadeOut 3s ease-in-out forwards;
}

.successMessage {
    color: rgb(34, 197, 94); /* Зеленый цвет успеха */
    padding: 5px;
    margin-top: 10px;
    opacity: 1;
    transition: opacity 0.5s linear, visibility 0.5s;
    animation: fadeOut 3s ease-in-out forwards;
}

/* Анимация исчезновения через 3 секунды */
@keyframes fadeOut {
    0% {
        opacity: 1;
        visibility: visible;
    }
    70% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        visibility: hidden;
    }
}

.messageContainer {
    max-height: 100px; /* Максимальная высота контейнера */
    overflow: hidden;
    transition: max-height 0.5s ease-in-out, opacity 0.5s ease-in-out;
    max-width: 365px;
}

.hidden {
    max-height: 0;
    opacity: 0;
}


